<div class="d-flex">
  <!-- sidebar-->
  <!--<div class="bg-dark boder-rait p-3" id="sidebar">
    <h3 class="text-light"> GiftApp </h3>
  </div>
  <hr class="text-withe">
  <div clas="list-group list-reset">
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
  </div>-->
  <!-- fin-->
  <app-sidebar></app-sidebar>
  <app-gifs-page class="conteiner"></app-gifs-page>
 <!-- <div class="container">
    <div class="row p-3">
      <div class="col">
        <h3>Buscar</h3>
        <input type="text" class="form-control" placeholder="BuscarGifs">
      </div>
      <hr class="text">
      <div class="row">
        <div class="col">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur delectus impedit odit repellendus.
          Nobis nam aliquam minima perferendis! Sunt laudantium obcaecati a, perspiciatis placeat quis nesciunt minima
          inventore facilis adipisci.
        </div>
      </div>
    </div>
  </div>-->
</div>